.next {
  float: left;
  width: 400px;
  height: 500px;
  text-align: center;
  padding-left: 400px;

}
.flashy {
  float: right;
  width: 400px;
  padding-right: 500px;
  height: auto;
  text-align: center;
}
.flashy ul li {
  text-align: left;
  padding: 10px;
  color: blue;

}
.flashy ol li {
  text-align: left;
  padding: 10px;
  font-weight: bold;
}
img {
  width: 300px;
  margin: auto;
  height: auto;
  display: block;
  padding-top: 10px;
}
.important {
  color: red;
  font-style: italic;
  font-weight: bold
}
.special {
  text-align: center;
}
p {
  font-size: medium;
}
.loud {
  padding-bottom: 50px;
}
ul {
  text-align: center;
  padding-right: 100px;
}

